/.metadata/
.gitattributes
.gitattributes
Day5/.settings/org.eclipse.jdt.core.prefs
Day5/.project
Day5/.classpath
Day4/.settings/org.eclipse.jdt.core.prefs
Day4/.classpath
Day4/.classpath
Day4/.classpath
Day4/.classpath
Day4/.classpath
